/* Titles */
.markdown-section h1 {
    font-size: 2rem;
    margin: 25px 0 1rem;
}
.anchor span {
    color: #00bc8c;
}

.markdown-section p a {
    font-weight: normal;
}

/* Sidebar Menu */
.sidebar {
    background: #343746;
}

.sidebar h1.app-name a.app-name-link {
    color: #a7adaf;
}

/* Github icon */
.github-corner svg {
    color: var(--background);
}


/* Messages */
.informational-msg {
    margin-top: 35px;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    background: #42B983;
}

.informational-msg h3 {
    padding-left: 5px;
    margin: 0px;
    color: #fff;
}

.informational-msg p {
    padding-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Code */
button.docsify-copy-code-button {
    margin-top: 15px;
    color: #fff;
    background: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #42B983;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #a7adaf;
}

::-webkit-scrollbar-thumb {
    background-color: #a7adaf;
}

::-webkit-scrollbar-thumb {
    background-color: #a7adaf;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #a7adaf;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
